
body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-around;
    background: darkcyan;
    height: 500px;
    width: 500px;
    
    
}



